html, body{
    height: 100%;  /* Ensure both take up the full height of the viewport */
    margin: 0;     /* Remove any default margin */
    overflow: hidden; /* Prevent scrolling */
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* add custom font */
@font-face {
    font-family: 'Norse-Bold'; 
    src: url('./fonts/Norse-Bold.otf') format('opentype'); 
}
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.logo-container {
    background-image: url('./images/plants.jpg');
    background-size: cover;
    width: 25rem;
    height: 100vh; 
    max-width: 25rem; 
    max-height: 100vh;  
}

.logo-container{
    padding-top: 8%;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: azure;
    background-color: rgba(0, 0, 0, 0.2); /* Black with 50% opacity */
    height: 6rem;
}

.logo p{
    font-size: 4rem;
    font-family: Norse-Bold , sans-serif;
}

.logo img{
    height: 6em;
    width: 4em;
}

.form-container{
    height: 100vh; /* Ensures the form container fills the viewport height */
    max-width: 55rem; 
    display: flex;
    flex-direction: column;   
}
 .form-container p, h3{
    margin-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
 }

 .blurb{
    margin-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 22rem;
 }

.name, .contact-details, .ps{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}


.first-name, .last-name, .mail, .number, .pass, .c-ps{
    display: flex;
    flex-direction: column;
   margin-left: 2rem;
   margin-right: 1rem;
   margin-bottom: 1rem; 
}

label{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.header, .footer{
    background-color: rgb(245, 237, 237);
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    height: 15rem;  
}

.footer button{
    border-radius: 5px;
    height: 30px;
    width: 130px;
    margin-top: 1.5rem;
    margin-left: 2rem;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    padding: 3px;
    font-size: small;
}

.footer p{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1rem;
}

.footer a{
    color: #3b5525;
}

input{
    /*Gets rid of browser preset - allows border colour*/
    outline: NONE;
}
input:focus{
    border: 1px solid rgb(31, 104, 214);
}
input:focus:invalid {
    border-color: red;
  }

  /*Using JavaScript to validate forms is covered in a future lesson. 
  For now, just validate each field separately.*/
  input[type='password']:invalid {
    border-color: red;
  }